<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear Foro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card-content class="ion-text-center">
  Ingresa la Información de tu foro
     <br>   
   
     </ion-card-content>
<ion-content>
  <br>
  <br>
<form >
  <ion-item fill="solid">
    <ion-label position="floating">Tema del Foro</ion-label>
    <ion-input ngDefaultControl type="text" [(ngModel)]="fobj.id" name="id"></ion-input>

    <ion-note slot="helper">Ingresa el Tema del Foro</ion-note>
    <ion-note slot="error">Invalid Foro</ion-note>
  </ion-item>
  <ion-item fill="solid">
    <ion-label position="floating">Contenido del foro</ion-label>
    <ion-input ngDefaultControl type="text" [(ngModel)]="fobj.nombre" name="nombre"></ion-input>
    
    <ion-note slot="helper">Enter a valid content</ion-note>
    <ion-note slot="error">Invalid content</ion-note>
  </ion-item>

</form>
</ion-content>

<ion-footer>
  <ion-button  expand="full" (click)="agregarForo(fobj)">
    agregar Foro
  </ion-button>
</ion-footer>
