<ion-header>
  <ion-toolbar color="success">
    <ion-title>{{movie?.title}}</ion-title>
    <ion-buttons slot="start">
<ion-back-button defaultHref="/foros"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>{{movie.title}}</ion-card-title>
    <ion-card-subtitle>{{movie.tagline}}</ion-card-subtitle>
    <span *ngFor="let g of movie.genres; let islast= last">
      {{g.name}}{{!islast ? '`':''}}
    </span>
  </ion-card-header>
</ion-card>
</ion-content>

<ion-footer>
  <ion-button  expand="full" (click)="agregarComentario()">
    agregar Comentario
  </ion-button>
</ion-footer>