
<ion-header>
  <ion-toolbar color="primary">
    <ion-title> trending movies</ion-title>
    <div id="userButton">
      <ion-tab-button tab="usuarios" >
        <ion-label>Login</ion-label>
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-tab-button>
    </div>
  </ion-toolbar>
</ion-header> 

<ion-content>
<ion-list>
  <ion-item button *ngFor="let item of movies" [routerLink]="[item.id]" >
<ion-label>
  {{item.title}}
  <p>{{item.release_date | date:'y'}}</p>
</ion-label>
<ion-badge slot="end">{{item.vote_average}}</ion-badge>
  </ion-item>
</ion-list>

<!-- <ion-infinite-scroll (ionInfinite)="loadMore($event)">
<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data.."></ion-infinite-scroll-content>
</ion-infinite-scroll> -->
</ion-content>