
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/foro-crear"></ion-back-button>
      Crear Foro
          </ion-buttons>
          <div id="userButton">
            <ion-tab-button tab="usuarios" >
              <ion-label>Login</ion-label>
              <ion-icon name="log-in-outline"></ion-icon>
            </ion-tab-button>
          </div>      
  </ion-toolbar>
</ion-header> 
<ion-card-content class="ion-text-center">
  <h3>Foros</h3>
  </ion-card-content>
<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of forospadre" [routerLink]="[item.id]" >
  <ion-label>
    {{item.topic}}
    <p>{{item.content}}</p>
  </ion-label>
    </ion-item>
  </ion-list>
  </ion-content> 

