<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Recupera tu Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input formControlName="userMail" [clearOnEdit]="true"  type="email" placeholder="email@domain.com" ngModel email></ion-input>
      <ion-note slot="helper">Enter a valid email</ion-note>
      <ion-note slot="error">Invalid email</ion-note>
    </ion-item> 
    <ion-item>
      <ion-button (click)="myRecover()">Recuperar</ion-button>
    </ion-item>

</ion-list>
</ion-content>