<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
    ¿Padeces de violencia?
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
<h1 >Chantaje emocional</h1>
  <ion-card color="warning">
  
    <ion-card-content>
      Un tipo de manipulación psicológica muy utilizado en estos casos. 
      A través de una serie de estrategias,  principalmente desde el victimismo, la culpa y/o las promesas, 
      invertirán la situación para conseguir lo que quieren de la otra personas
    </ion-card-content>
  </ion-card>

  <h1 >Minimización</h1>
  <ion-card color="warning">
  
    <ion-card-content>
      Ante los logros que consiga su víctima, ya sean laborales o profesionales, 
      no ensalzará sus cualidades, no la alabará ni reconocerá lo que haya conseguido.
       No lo realizará de una forma brusca, sino sutilmente
    </ion-card-content>
  </ion-card>

  <h1 >Control</h1>
  <ion-card color="warning">
  
    <ion-card-content>
      Es una de las alarmas más detectables, dentro de la invisibilidad de este tipo de maltrato psicológico.
       Intentará saber en todo momento donde está y con quién está la otra persona, lo que hace.
    </ion-card-content>
  </ion-card>

  <h1 >Invisibilidad/sumisión</h1>
  <ion-card color="warning">
  
    <ion-card-content>
      Poco a poco la opinión, las ideas, pasarán a un segundo plano,
       conseguirá darle la vuelta y hacerle ver que no sabes de un tema, 
       que lo que dice no es adecuado, corrigiéndole tanto en privado como en reuniones familiares y/o con amigos.
    </ion-card-content>
  </ion-card>
  
  <h1 >Aislamiento</h1>
  <ion-card color="warning">
  
    <ion-card-content>
      A medida que aumente el control y con la excusa de pasar todo el tiempo posible juntos, 
      comenzarán las restricciones de salidas individuales, de espacio personal, haciendo referencia a que no pasan mucho tiempo juntos,
       a falta de atención a un falso sentimiento de soledad cuando la víctima está lejos, etc.
    </ion-card-content>
  </ion-card>

  <h1 >Negación de realidad/distorsión</h1>
  <ion-card color="warning">
  
    <ion-card-content>
      Cuando se den situaciones relacionadas con todos los ejemplos que estamos exponiendo aquí, 
      la persona que ejerza el maltrato se encargará de que la víctima se convenza de que lo cree no es como lo piensa, 
      de que todo lo que hace lo hace por amor, de que es por su bien, de que no se da cuenta de las intenciones de los otros.
    </ion-card-content>
  </ion-card>

  <h1 >Culpabilización</h1>
  <ion-card color="warning">
  
    <ion-card-content>
      Ante cualquier contratiempo en su vida personal o en la relación, cargará contra la otra persona con frases como: “esto que pasa, es por tu culpa”
       “sino me distrajese contigo seguro que me habrían dado el ascenso” “me das mucho trabajo y se me olvidan las cosas por hacerme cargo de ti”.
    </ion-card-content>
  </ion-card>

  <h1 >Pérdida de identidad</h1>
  <ion-card color="warning">
  
    <ion-card-content>
      Dentro del maltrato psicológico, la persona se verá inmersa en una vorágine de situaciones en las que tendrá que permanecer muy alerta para no enfadar a la otra persona, para que no la abandone, para que no reproche nada. Este modelado ocasionará a la 
      larga un desconocimiento de la persona en sí misma, actuará conforme a lo que le dicen, perdiendo su esencia, lo que la hace especial.
    </ion-card-content>
  </ion-card>

  <h1 >Insultos</h1>
  <ion-card color="warning">
  
    <ion-card-content>
      Las descalificaciones verbales serán frecuentes y suelen aumentar a medida que las relaciones avanzan,
       siendo los insultos directos una señal muy directa de la falta de respeto y del maltrato hacia la víctima.
    </ion-card-content>
  </ion-card>

  <h1 >Amenazas</h1>
  <ion-card color="warning">
  
    <ion-card-content>
      Pueden ser de muchos tipos, principalmente con el abandono, con hacerse daño a sí mismo/a, para fomentar la culpa y la sumisión en la víctima.
    </ion-card-content>
  </ion-card>

</ion-content>