
<ion-tabs>

  <ion-tab-bar color="" slot="bottom">
    <ion-tab-button tab="info">
      <ion-label>Info</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="como-reconocer">
      <ion-label>Como Reconocer</ion-label>
      <ion-icon name="help-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="foros">
      <ion-label>Foros</ion-label>
      <ion-icon name="help-buoy-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="ayuda">
      <ion-label>Ayuda</ion-label>
      <ion-icon name="hand-left-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
 
 
</ion-tabs>
